.modal-campaigns-add {
   display: flex;
   flex-grow: 1;
   flex-direction: column;
   align-items: center;
   overflow: hidden;
   gap: 1rem;
   padding-inline: 1rem;

   > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: hidden;
      overflow-y: auto;
      flex-grow: 1;
      width: 100%;

      > * {
         flex-shrink: 0;
      }

      > div.lottie-animation {
         margin-top: 1rem;
         width: 8rem;
         height: 8rem;
      }

      > h1 {
         margin-top: 1rem;
         font-size: 1.125rem;
         font-weight: 600;
         width: 100%;
         height: 2rem;
         text-align: center;
      }

      > section {
         margin-top: 1rem;
      }
   }
}

section.container-section-campaigns-information {
   flex-grow: 1;
   padding: 1rem 0;
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 1rem;

   > section:nth-child(1) {
      flex-shrink: unset;
      overflow: hidden;

      > div {
         display: flex;
         flex-direction: column;
         flex-grow: 1;
         padding: 0;
         gap: 0;

         > div:nth-child(1) {
            position: relative;

            &::after {
               content: "";
               position: absolute;
               top: 0;
               bottom: 0;
               inset-inline-end: 0;
               inset-inline-start: 1rem;
               border-bottom: 1px solid rgba(var(--text-color-rgb), 0.1875);
               pointer-events: none;
            }

            > input {
               padding-inline-start: 1rem;
               width: 100%;
               height: 2.75rem;
            }
         }

         > div:nth-child(2) {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            overflow: hidden;
            min-height: 10rem;
            flex-shrink: 0;

            textarea#input-description {
               flex-grow: 1;
               border-radius: 0.6875rem;
               padding: 0.75rem 1rem;
               min-height: 8rem;
               resize: none;

               &::placeholder {
                  color: rgba(var(--text-color-rgb), 0.5);
               }
            }
         }
      }
   }
}
