.modal-campaigns-add {
   display: flex;
   flex-grow: 1;
   flex-direction: column;
   align-items: center;
   padding-inline: 1rem;

   > div.lottie-animation {
      margin-top: 1rem;
      width: 8rem;
      height: 8rem;
   }

   > h1 {
      margin-top: 1rem;
      font-size: 1.125rem;
      font-weight: 600;
      width: 100%;
      height: 2rem;
      text-align: center;
   }

   > p {
      margin-top: 0.875rem;
      font-size: 1rem;
      text-align: center;
      line-height: 1.5;
      color: var(--text-secondary);
      font-size: 0.875rem;
   }

   > section {
      margin-top: 1rem;
      flex-grow: 1;
      padding: 1rem 0;
      width: 100%;
   }

   > div.clickable {
      width: 100%;
      height: auto;
      flex-grow: 1;
      margin-bottom: 1.5rem;

      > div.animated-text {
         width: 100%;
         height: 100%;
         color: var(--accent);
         font-size: 0.875rem;
      }
   }
}
