.modal-verification {
   display: flex;
   flex-grow: 1;
   flex-direction: column;
   align-items: center;
   padding-inline: 1rem;
   min-height: 50vh;

   > div.lottie-animation {
      margin-top: 1rem;
      width: 8rem;
      height: 8rem;
   }

   > h1 {
      margin-top: 1rem;
      font-size: 1.125rem;
      font-weight: 600;
      width: 100%;
      height: 2rem;
      text-align: center;
   }

   > p {
      margin-top: 0.875rem;
      font-size: 1rem;
      text-align: center;
      line-height: 1.5;
      color: var(--text-secondary);
      font-size: 0.875rem;
      flex-grow: 1;
      padding-bottom: 2rem;
   }
}
