#container-page-balance {
   > div {
      > div {
         display: flex;
         flex-direction: column;
         gap: 1rem;
         padding: 0 1rem 1rem;
         align-items: center;

         > div.lottie-animation {
            margin-top: 1rem;
            width: 8rem;
            height: 8rem;
            flex-shrink: 0;
         }

         .section-wallet {
            width: 100%;
            display: flex;
            align-items: center;
            position: relative;
            z-index: 0;
            border-radius: 0.75rem;
            background-color: rgba(var(--ton-rgb), 0.25);
            padding: 1rem;
            gap: 1rem;

            > svg {
               font-size: 1.5rem;
               color: rgba(var(--text-color-rgb), 0.5);
            }

            > div:nth-child(2) {
               display: flex;
               flex-direction: column;
               gap: 0.5rem;
               align-items: flex-start;
               flex-grow: 1;

               > span:nth-child(1) {
                  font-size: 1rem;
                  font-weight: 600;
                  color: var(--text-secondary);
               }

               > span:nth-child(2) {
                  font-size: 0.875rem;
                  color: var(--text-secondary);
               }
            }

            > div.clickable {
               background-color: var(--ton);
               color: white;
               font-size: 0.875rem;
               font-weight: 600;
               padding: 0.5rem 1rem;
               border-radius: 10rem;
               cursor: pointer;
            }
         }

         .section-balance {
            width: 100%;

            > div {
               display: flex;
               flex-direction: column;
               align-items: center;
               gap: 1.25rem;

               > span {
                  font-size: 1.25rem;
                  font-weight: 600;
               }

               > div:nth-child(2) {
                  display: flex;
                  align-items: center;
                  gap: 0.75rem;

                  > span {
                     font-size: 1.375rem;
                     font-weight: 700;
                     color: var(--text-secondary);
                  }

                  > svg {
                     color: var(--ton);
                     font-size: 1.5rem;
                  }
               }

               > div:nth-child(3) {
                  display: flex;
                  align-items: center;
                  gap: 0.75rem;

                  > span {
                     font-size: 1rem;
                     font-weight: 500;
                     color: var(--text-semitransparent);
                  }
               }
            }
         }

         .section-transactions {
            width: 100%;
            margin-top: 1rem;

            .prepend {
               color: var(--ton);
            }
         }
      }
   }

   > footer {
      display: flex;
      gap: 1rem;
      background-color: var(--bottom-bar-color);
      border-top: 1px solid rgba(var(--text-color-rgb), 0.125);

      > button {
         flex: 1;
      }
   }
}
