#container-page-entity {
   padding-top: 0;
   position: relative;
   z-index: 0;

   &::before {
      content: "";
      position: absolute;
      top: 0;
      inset-inline-start: 0;
      inset-inline-end: 0;
      height: calc(
         var(--tg-viewport-safe-area-inset-top) +
            var(--tg-viewport-content-safe-area-inset-top) + 4rem
      );
      z-index: 15;
      background: linear-gradient(
         0deg,
         transparent,
         rgba(var(--bg-color-rgb), 0.375),
         rgba(var(--bg-color-rgb), 0.5),
         rgba(var(--bg-color-rgb), 0.75)
      );
      pointer-events: none;
      mask: linear-gradient(0deg, transparent, black);
      backdrop-filter: blur(0.125rem);
   }

   .tw-wrap {
      .tw-pattern {
         opacity: 0.5;
      }

      .tw-canvas.tw-mask {
         opacity: 0.5;
      }
   }

   .container-entity {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
      align-items: center;

      > div {
         display: flex;
         flex-direction: column;
         position: relative;
         width: 100%;
         height: 100%;
         flex-grow: 1;
         align-items: center;

         > header {
            z-index: 20;
            position: sticky;
            max-width: calc(100% - 12rem);
            top: calc(var(--tg-viewport-safe-area-inset-top) + 0.5rem);
            border-radius: 10rem;
            background-color: var(--glass-bg);
            backdrop-filter: blur(0.25rem) saturate(180%);
            padding: 0.3125rem;
            box-shadow:
               inset 0.125rem 0.125rem 0.0625rem 0 var(--glass-shadow),
               inset -0.0625rem -0.0625rem 0.0625rem 0.0625rem
                  var(--glass-shadow);
            transition: all calc(0.25s * var(--motion-multiplier));

            display: flex;
            padding-inline-start: 0.875rem;
            align-items: center;
            gap: 0.375rem;

            > div.peer-profile {
               font-size: 2.5rem;
               flex-shrink: 0;
            }

            > div:not(.peer-profile) {
               display: flex;
               flex-direction: column;
               align-items: center;
               overflow: hidden;

               > h1 {
                  max-width: 100%;
                  font-size: 1rem;
                  font-weight: 600;
                  line-height: normal;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
               }

               > span {
                  font-size: 0.75rem;
                  color: var(--text-semitransparent);
                  line-height: normal;
               }
            }
         }

         > section {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: calc(var(--tg-viewport-safe-area-inset-top) + 0.5rem) 0 0 0;

            #entity-section-tabbar {
               overflow: unset;
               margin-top: 0.5rem;
               padding: unset;

               > ul {
                  width: auto;
                  margin: 0 auto;
                  position: absolute;
                  inset-inline: unset;
                  inset-inline-start: 50%;
                  transform: translateX(-50%);

                  > li {
                     padding-inline: 1rem;
                     flex-shrink: unset;
                     flex-grow: unset;
                  }
               }

               > swiper-container {
                  margin-top: calc(0.5rem + var(--tabbar-glass-height));
                  position: relative;
                  flex-grow: unset;
                  border-radius: unset;
                  overflow: unset;

                  > swiper-slide {
                     height: auto;
                     overflow: unset;
                  }
               }
            }
         }
      }

      > footer {
         width: 100%;
         flex-shrink: 0;
      }
   }
}

#container-tab-overview-viewer,
#container-tab-overview-owner,
#container-tab-statistics {
   display: flex;
   flex-direction: column;
   padding: 0 1rem;
   gap: 1rem;
}

.entity-section-statistics-overview {
   > section:not(.entity-section-statistics-empty) {
      > span.title {
         > span.subtitle {
            font-size: 0.875rem;
         }
      }

      > div {
         > ul {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1.5rem;

            > li {
               display: flex;
               flex-direction: column;
               gap: 0.3125rem;
               line-height: normal;

               > b {
                  font-size: 1rem;
                  font-weight: 600;
                  display: flex;
                  align-items: center;
                  gap: 0.375rem;

                  > span {
                     font-weight: 400;
                     font-size: 0.875rem;
                  }
               }

               > span {
                  font-size: 0.8125rem;
                  color: var(--text-secondary);
               }
            }
         }
      }
   }
}

.entity-section-statistics-empty {
   > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      text-align: center;

      > div.lottie-animation {
         width: 6rem;
         height: 6rem;
      }

      > span {
         font-size: 0.875rem;
         color: var(--text-secondary);
      }
   }
}

#container-tab-statistics {
   > section {
      > div {
         padding-inline: 0 !important;

         > .container-placeholder {
            margin: 0 0 1rem;
         }

         .tchart--wrapper {
            .tchart--graph-canvas {
               background: transparent !important;
            }

            .tchart--zoom {
               inset: unset;
               inset-inline-start: 1rem;
               top: 2rem;
            }
         }
      }
   }
}

.container-section-overview-owner-options {
   .badge {
      font-size: 0.6875rem;
      padding: 0.3125rem;
      border-radius: 0.3125rem;
   }

   .container-section-overview-owner-options-verification {
      display: flex;
      align-items: center;
      height: 100%;
      padding-inline-end: 1rem;

      > p {
         display: flex;
         gap: 0.5rem;
         align-items: center;
         font-size: 0.9375rem;

         > svg {
            font-size: 0.875rem;
         }

         &.clickable {
            color: var(--accent);
         }

         &.disabled {
            opacity: 0.5;
            pointer-events: none;
         }
      }
   }
}
