#container-page-entity {
   padding-top: 0;
   position: relative;
   z-index: 0;

   &::before {
      content: "";
      position: absolute;
      top: 0;
      inset-inline-start: 0;
      inset-inline-end: 0;
      height: calc(
         var(--tg-viewport-safe-area-inset-top) +
            var(--tg-viewport-content-safe-area-inset-top) + 4rem
      );
      z-index: 15;
      pointer-events: none;
      background: linear-gradient(0deg, transparent, var(--bg-color));
   }

   .tw-wrap {
      .tw-pattern {
         opacity: 0.5;
      }

      .tw-canvas.tw-mask {
         opacity: 0.5;
      }
   }

   .container-entity {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
      align-items: center;

      > div {
         display: flex;
         flex-direction: column;
         position: relative;
         width: 100%;
         height: 100%;
         flex-grow: 1;
         align-items: center;

         > header {
            z-index: 20;
            position: sticky;
            max-width: calc(100% - 12rem);
            top: calc(var(--tg-viewport-safe-area-inset-top) + 0.5rem);
            border-radius: 10rem;
            background-color: var(--glass-bg);
            backdrop-filter: blur(0.25rem) saturate(180%);
            padding: 0.3125rem;
            box-shadow:
               inset 0.125rem 0.125rem 0.0625rem 0 var(--glass-shadow),
               inset -0.0625rem -0.0625rem 0.0625rem 0.0625rem
                  var(--glass-shadow);
            transition: all calc(0.25s * var(--motion-multiplier));

            display: flex;
            padding-inline-start: 0.875rem;
            align-items: center;
            gap: 0.375rem;

            > div.peer-profile {
               font-size: 2.5rem;
               flex-shrink: 0;
            }

            > div:not(.peer-profile) {
               display: flex;
               flex-direction: column;
               align-items: center;
               overflow: hidden;

               > h1 {
                  max-width: 100%;
                  font-size: 1rem;
                  font-weight: 600;
                  line-height: normal;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
               }

               > span {
                  font-size: 0.75rem;
                  color: var(--text-semitransparent);
                  line-height: normal;
               }
            }
         }

         > section {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: calc(var(--tg-viewport-safe-area-inset-top) + 0.5rem) 0 0 0;

            #entity-section-tabbar {
               overflow: unset;
               margin-top: 0.5rem;
               padding: unset;

               > ul {
                  width: auto;
                  margin: 0 auto;
                  position: absolute;
                  inset-inline: unset;
                  inset-inline-start: 50%;
                  transform: translateX(-50%);

                  > li {
                     padding-inline: 1rem;
                     flex-shrink: unset;
                     flex-grow: unset;
                  }
               }

               > swiper-container {
                  margin-top: calc(0.5rem + var(--tabbar-glass-height));
                  position: relative;
                  flex-grow: unset;
                  border-radius: unset;
                  overflow: unset;

                  > swiper-slide {
                     height: auto;
                     overflow: unset;
                  }
               }
            }
         }
      }

      > footer {
         width: 100%;
         position: fixed;
         bottom: 0;
         inset-inline: 0;

         &::before {
            content: "";
            position: absolute;
            bottom: 0;
            inset-inline-start: 0;
            inset-inline-end: 0;
            height: calc(
               var(--tg-viewport-safe-area-inset-bottom) +
                  var(--tg-viewport-content-safe-area-inset-bottom) + 4rem
            );
            z-index: 15;
            background: linear-gradient(180deg, transparent, var(--bg-color));
            pointer-events: none;
         }

         > div {
            position: relative;
            width: 100%;
            height: 3.5rem;
            display: flex;
            align-items: center;
            justify-content: center;

            > div:nth-child(1),
            > div:nth-child(3) {
               display: flex;
               align-items: center;
               width: auto;
               height: 100%;
               position: absolute;
               z-index: 25;

               > div.clickable {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  height: 100%;
                  width: 3.5rem;

                  > div {
                     display: flex;
                     align-items: center;
                     justify-content: center;
                     text-align: center;
                     border-radius: 50%;
                     width: 2.5rem;
                     height: 2.5rem;
                     background-color: var(--glass-bg);
                     backdrop-filter: blur(0.25rem) saturate(180%);
                     box-shadow:
                        inset 0.125rem 0.125rem 0.0625rem 0 var(--glass-shadow),
                        inset -0.0625rem -0.0625rem 0.0625rem 0.0625rem
                           var(--glass-shadow);

                     > svg {
                        font-size: 1.375rem;
                        color: var(--text-secondary);
                     }
                  }
               }
            }

            > div:nth-child(1) {
               inset-inline-start: 1.625rem;
            }

            > div:nth-child(3) {
               inset-inline-end: 1.625rem;
            }

            > div:nth-child(2) {
               position: absolute;
               z-index: 20;
               height: 100%;
               padding: 0 2rem;
               display: flex;
               align-items: center;

               > div {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  height: 2.5rem;
                  min-width: 10.5rem;
                  border-radius: 10rem;
                  position: relative;
                  background-color: var(--glass-bg);
                  backdrop-filter: blur(0.25rem) saturate(180%);
                  box-shadow:
                     inset 0.125rem 0.125rem 0.0625rem 0 var(--glass-shadow),
                     inset -0.0625rem -0.0625rem 0.0625rem 0.0625rem
                        var(--glass-shadow);
                  padding: 0.1875rem;
                  color: var(--tg-theme-button-text-color);
                  font-size: 0.875rem;
                  font-weight: 600;

                  &::before {
                     content: "";
                     inset: 0.1875rem;
                     position: absolute;
                     z-index: -1;
                     border-radius: inherit;
                     background-color: var(--tg-theme-button-color);
                  }
               }
            }
         }
      }
   }
}

#container-infolist {
   display: flex;
   align-items: center;
   padding: 1.5rem 1rem 0.5rem;
   gap: 0.5rem;

   > li {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;
      background-color: var(--glass-bg);
      backdrop-filter: blur(0.25rem) saturate(180%);
      box-shadow:
         inset 0.125rem 0.125rem 0.0625rem 0 var(--glass-shadow),
         inset -0.0625rem -0.0625rem 0.0625rem 0.0625rem var(--glass-shadow);
      padding: 1rem 0;
      border-radius: 0.75rem;
      flex-direction: 1;
      flex: 1;
      overflow: hidden;

      > svg {
         font-size: 1.8125rem;
         color: var(--accent);
         opacity: 0.75;
         height: 2rem;
      }

      > b {
         width: 100%;
         font-size: 0.75rem;
         font-weight: 500;
         color: var(--text-secondary);
         padding: 0.25rem;
         white-space: nowrap;
         text-overflow: ellipsis;
         overflow: hidden;
      }

      > span {
         font-size: 0.625rem;
         color: var(--text-semitransparent);
         text-transform: uppercase;
      }
   }
}

#container-tab-overview-viewer,
#container-tab-overview-owner,
#container-tab-statistics {
   display: flex;
   flex-direction: column;
   padding: 0 1rem;
   gap: 1rem;
}

.entity-section-statistics-overview {
   > section:not(.entity-section-statistics-empty) {
      > span.title {
         > span.subtitle {
            font-size: 0.875rem;
         }
      }

      > div {
         > ul {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1.5rem;

            > li {
               display: flex;
               flex-direction: column;
               gap: 0.3125rem;
               line-height: normal;

               > b {
                  font-size: 1rem;
                  font-weight: 600;
                  display: flex;
                  align-items: center;
                  gap: 0.375rem;

                  > span {
                     font-weight: 400;
                     font-size: 0.875rem;
                  }
               }

               > span {
                  font-size: 0.8125rem;
                  color: var(--text-secondary);
               }
            }
         }
      }
   }
}

.entity-section-statistics-empty {
   > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      text-align: center;

      > div.lottie-animation {
         width: 6rem;
         height: 6rem;
      }

      > span {
         font-size: 0.875rem;
         color: var(--text-secondary);
      }
   }
}

#container-tab-statistics {
   > section {
      > div {
         padding-inline: 0 !important;

         > .container-placeholder {
            margin: 0 0 1rem;
         }

         .tchart--wrapper {
            .tchart--graph-canvas {
               background: transparent !important;
            }

            .tchart--zoom {
               inset: unset;
               inset-inline-start: 1rem;
               top: 2rem;
            }
         }
      }
   }
}

.container-section-overview-owner-options {
   .badge {
      font-size: 0.6875rem;
      padding: 0.3125rem;
      border-radius: 0.3125rem;
   }

   .container-section-overview-owner-options-verification {
      display: flex;
      align-items: center;
      height: 100%;
      padding-inline-end: 1rem;

      > p {
         display: flex;
         gap: 0.5rem;
         align-items: center;
         font-size: 0.9375rem;
         height: 100%;
         padding-inline-start: 1rem;

         > svg {
            font-size: 0.875rem;
         }

         &.clickable {
            color: var(--accent);
         }

         &.disabled {
            opacity: 0.5;
            pointer-events: none;
         }
      }
   }
}

.container-section-overview-owner-adtype {
   position: relative;

   &.inactive {
      pointer-events: none;
   }

   > div.placeholder {
      position: absolute;
      z-index: 2;
      inset: 0;
      border-radius: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      backdrop-filter: blur(0.25rem);
      background-color: rgba(var(--bg-color-rgb), 0.25);

      > div.container-placeholder {
         > div {
            padding: 0;
            margin: 0;

            > svg {
               color: var(--text-semitransparent);
            }
         }
      }
   }
}

.input-price {
   padding-inline-end: 1rem;
   gap: 0.5rem !important;

   > svg {
      opacity: 0.75;
   }

   > input {
      padding-inline-end: 0 !important;
   }
}
