#container-page-home {
   #shimmer-gallery {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 0 1rem;

      > span {
         display: flex;
         width: 100%;
         aspect-ratio: 6/1;
         border-radius: 1rem;
      }

      > ul {
         display: flex;
         align-items: center;
         gap: 1rem;

         > li {
            width: 5rem;
            height: 2.125rem;
            border-radius: 0.5rem;
         }
      }

      > section {
         display: flex;
         flex-direction: column;
         gap: 1rem;

         > span {
            width: 8rem;
            height: 1.625rem;
            border-radius: 0.375rem;
         }

         > div {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            > div {
               display: flex;
               align-items: center;
               gap: 1rem;
               padding-inline-end: 2rem;

               > span {
                  display: flex;
                  width: 3rem;
                  height: 3rem;
                  border-radius: 50%;

                  &.square {
                     border-radius: 25%;
                  }
               }

               > div {
                  display: flex;
                  flex-direction: column;
                  gap: 0.25rem;

                  > span {
                     border-radius: 0.25rem;
                  }
               }

               > div:nth-child(2) {
                  flex-grow: 1;

                  > span:nth-child(1) {
                     width: 8rem;
                     height: 1.25rem;
                  }

                  > span:nth-child(2) {
                     width: 5rem;
                     height: 1rem;
                  }
               }

               > div:nth-child(3) {
                  > span:nth-child(1) {
                     width: 5rem;
                     height: 1rem;
                  }

                  > span:nth-child(2) {
                     width: 5rem;
                     height: 1rem;
                  }
               }
            }
         }
      }

      > div {
         display: flex;
         width: 100%;
         aspect-ratio: 16/9;
         border-radius: 1rem;
      }
   }
}
