#container-page-intro {
   > div {
      flex-grow: 1;
      position: relative;

      > header {
         position: absolute;
         inset: 0;
         display: flex;
         align-items: center;
         justify-content: center;
         height: 20rem;

         > div.lottie-animation {
            width: 10rem;
            height: 10rem;
            position: absolute;
         }
      }

      > div {
         width: 100%;
         height: 100%;
         position: relative;

         > swiper-container {
            padding-top: 20rem;
            width: 100%;
            height: 100%;

            > swiper-slide {
               display: flex;
               flex-direction: column;
               align-items: center;
               gap: 1rem;
               padding: 0 3rem;

               > h1 {
                  font-size: 1.5rem;
                  font-weight: 700;
               }

               > p {
                  text-align: center;
                  line-height: 1.5;
                  font-size: 0.9375rem;
               }
            }
         }

         > ul {
            display: flex;
            align-items: center;
            position: absolute;
            top: 30rem;
            left: 50%;
            transform: translateX(-50%);
            gap: 0.625rem;
            pointer-events: none;

            > li {
               width: 0.5rem;
               height: 0.5rem;
               border-radius: 1rem;
               transition: opacity calc(0.25s * var(--motion-multiplier, 1));
               background-color: var(--text-color);
               opacity: 0.25;

               &.active {
                  opacity: 0.875;
               }
            }
         }
      }
   }

   > footer {
      padding-inline: 1rem;
   }
}
