.modal-campaigns-offer {
   display: flex;
   flex-grow: 1;
   flex-direction: column;
   align-items: center;
   padding-inline: 1rem;

   > div.lottie-animation {
      margin-top: 1rem;
      width: 8rem;
      height: 8rem;
   }

   > h1 {
      margin-top: 1rem;
      font-size: 1.125rem;
      font-weight: 600;
      width: 100%;
      height: 2rem;
      text-align: center;
   }

   > p {
      margin-top: 0.875rem;
      font-size: 1rem;
      text-align: center;
      line-height: 1.5;
      color: var(--text-secondary);
      font-size: 0.875rem;
   }

   > section {
      margin-top: 1rem;

      .container-section-list {
         &::after {
            border-bottom: none !important;
         }
      }
   }

   .container-datepicker {
      border-radius: 0;
      background-color: transparent;
      padding-inline-end: 1rem;
      padding-inline-start: 3rem;

      > div {
         font-weight: normal;
         font-size: 1rem;
      }
   }
}
