.modal-publishers-add {
   display: flex;
   flex-grow: 1;
   flex-direction: column;
   align-items: center;
   padding-inline: 1rem;
   overflow: hidden;
   gap: 1rem;

   > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: hidden;
      overflow-y: auto;
      flex-grow: 1;
      width: 100%;

      > * {
         flex-shrink: 0;
      }

      > div.lottie-animation {
         margin-top: 1rem;
         width: 8rem;
         height: 8rem;
      }

      > div.animated-text {
         margin-top: 1rem;
         font-size: 1.125rem;
         font-weight: 600;
         width: 100%;
         height: 2rem;
      }

      > p {
         margin-top: 0.875rem;
         font-size: 1rem;
         text-align: center;
         line-height: 1.5;
         color: var(--text-secondary);
         font-size: 0.875rem;
      }

      > ul {
         display: flex;
         flex-direction: column;
         gap: 2.25rem;
         flex-grow: 1;
         padding-inline: 1.25rem;
         margin-top: 3rem;
         width: 100%;

         > li {
            display: flex;
            align-items: center;
            gap: 0.75rem;

            > svg {
               font-size: 1.625rem;
            }

            > div {
               display: flex;
               flex-direction: column;
               gap: 0.5rem;
               width: 100%;

               > div.animated-text:nth-child(1) {
                  width: 100%;
                  height: 1rem;
                  font-size: 0.875rem;
                  font-weight: 500;
                  justify-content: flex-start;

                  > span {
                     font-size: 0.875rem;
                     font-weight: 500;
                  }
               }

               > div.animated-text:nth-child(2) {
                  width: 100%;
                  height: 1rem;
                  font-size: 0.875rem;
                  justify-content: flex-start;
                  color: var(--text-secondary);

                  > span {
                     font-size: 0.875rem;
                  }
               }

               > span {
                  font-size: 0.875rem;
                  font-weight: 500;
               }

               > p {
                  font-size: 0.875rem;
                  color: var(--text-secondary);
               }
            }
         }
      }

      > div.clickable {
         width: 100%;
         height: auto;
         flex-grow: 1;

         > div.animated-text {
            width: 100%;
            height: 100%;
            color: var(--accent);
            font-size: 0.875rem;
         }
      }
   }

   > button {
      flex-shrink: 0;
   }
}
