*,
*::before,
*::after {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   outline: none;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   -webkit-tap-highlight-color: transparent;
   user-select: none;
   -webkit-user-drag: none;
   line-height: normal;
}

:root {
   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

html:dir(ltr),
body:dir(ltr) {
   font-family:
      "Inter",
      -apple-system,
      BlinkMacSystemFont,
      Segoe UI,
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      Fira Sans,
      Droid Sans,
      Helvetica Neue,
      sans-serif;
}

html,
body,
#root {
   display: flex;
   height: 100vh;
   width: 100vw;
   flex-direction: column;
   position: relative;
   pointer-events: auto !important;
   overflow: hidden;
}

#root {
   isolation: isolate;
   position: relative;
}

body {
   background-color: var(--bg-color);
   color: var(--text-color);
   caret-color: var(--accent);
   color-scheme: light;
}

ul,
ol {
   list-style: none;
}

a,
button,
i,
svg {
   touch-action: none;
}

.page {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   position: relative;
   padding-top: calc(
      var(--tg-viewport-safe-area-inset-top) +
         var(--tg-viewport-content-safe-area-inset-top)
   );
   background-color: var(--bg-color);
}

input,
textarea {
   &::placeholder {
      color: rgba(var(--text-color-rgb), 0.5);
   }
}

select {
   appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
   background: none;
   border: none;
   padding: 0;
   margin: 0;
   font: inherit;
   color: inherit;
   outline: none;

   &::-ms-expand {
      display: none;
   }

   &:focus-visible {
      outline: none;
   }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

input[type="number"] {
   -moz-appearance: textfield;
}

.transition-slide-fade-enter-active,
.transition-slide-fade-exit-active {
   filter: none;
   transition: all calc(0.25s * var(--motion-multiplier, 1));
}
.transition-slide-fade-enter,
.transition-slide-fade-exit-to {
   transform: translateX(0.375rem);
   opacity: 0;
   filter: blur(2px);
}
.transition-slide-fade-enter {
   transform: translateY(-0.375rem);
   filter: blur(2px);
}

.safe-area-top {
   padding-top: max(
      1rem,
      calc(
         var(--tg-viewport-safe-area-inset-top, 0) +
            var(--tg-viewport-content-safe-area-inset-top, 0)
      )
   );
}

.safe-area-bottom {
   padding-bottom: max(
      1rem,
      calc(
         var(--tg-viewport-safe-area-inset-bottom, 0) +
            var(--tg-viewport-content-safe-area-inset-bottom, 0)
      )
   );
}

.safe-area-bottombar {
   padding-bottom: 5.5rem;
}
