:root {
   --white: #ffffff;
   --black: #000000;
   --white-rgb: 255, 255, 255;
   --black-rgb: 0, 0, 0;
   --text-color: var(--black);
   --text-color-rgb: var(--black-rgb);
   --secondary-color: #efeff4;
   --secondary-color-rgb: 239, 239, 244;
   --bg-color: var(--secondary-color);
   --bg-color-rgb: var(--secondary-color-rgb);

   --text-secondary: rgba(var(--text-color-rgb), 0.75);
   --text-hint: rgba(var(--text-color-rgb), 0.625);
   --text-semitransparent: rgba(var(--text-color-rgb), 0.5);
   --text-green: #289630;
   --text-red: #d03232;

   --bottom-bar-color: #f2f2f2;
   --bottom-bar-color-rgb: 242, 242, 242;

   --modal-bg: var(--bg-color);

   --animate-duration: 0.5s;
   --animate-delay: 0;
   --animate-repeat: 1;

   --accent: var(--tg-theme-accent-text-color);

   --section-bg-color: #ffffff;

   --shimmer-bg: #d0d0d2;
   --shimmer-highlight: #e5e5e5;

   --shimmer-tint-bg: #d5d5d5;
   --shimmer-tint-highlight: #e5e5e5;

   --tabbar-glass-height: 2.5rem;

   --bg-primary: var(--bg-color);
   --bg-secondary: var(--section-bg-color);

   --motion-multiplier: 1;

   --glass-bg: rgba(var(--bg-color-rgb), 0.75);
   --glass-shadow: rgba(192, 192, 192, 0.25);
   --glass-active-rgb: 0, 0, 0;
   --glass-text-color: #323232;
   --glass-text-color-rgb: 50, 50, 50;

   --switch-bg: #d0d0d0;
   --switch-thumb-passive: #ffffff;
   --switch-thumb-active: #35c759;

   --range-slider-bg-color: #d1d1d6;

   --ton: #0098ea;
   --ton-rgb: 0, 152, 234;
}

body[data-theme="dark"] {
   color-scheme: dark;

   --text-color: var(--white);
   --text-color-rgb: var(--white-rgb);
   --secondary-color: #000000;
   --secondary-color-rgb: 0, 0, 0;

   --section-bg-color: #1c1c1d;

   --bg-color: var(--secondary-color);
   --bg-color-rgb: var(--secondary-color-rgb);

   --text-secondary: rgba(var(--text-color-rgb), 0.75);
   --text-hint: rgba(var(--text-color-rgb), 0.625);
   --text-semitransparent: rgba(var(--text-color-rgb), 0.5);
   --text-green: #32ce32;
   --text-red: #ce3030;

   --modal-bg: var(--bg-color);

   --shimmer-bg: #2a2a2a;
   --shimmer-highlight: #1a1a1a;

   --shimmer-tint-bg: #343435;
   --shimmer-tint-highlight: #252526;

   --bg-primary: var(--section-bg-color);
   --bg-secondary: var(--bg-color);

   --bottom-bar-color: #1d1d1d;
   --bottom-bar-color-rgb: 29, 29, 29;

   --glass-bg: rgba(48, 48, 48, 0.5);
   --glass-shadow: rgba(64, 64, 64, 0.25);
   --glass-active-rgb: var(--white-rgb);
   --glass-text-color: var(--white);
   --glass-text-color-rgb: var(--white-rgb);

   --switch-bg: #2f2f2f;
   --switch-thumb-passive: #ffffff;
   --switch-thumb-active: #81cb72;

   --range-slider-bg-color: #39393d;
}
