.animated-text {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;

   > span {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;

      &.previous {
         display: none;
      }

      &.current {
         display: flex;
         transform: translateY(0);
         filter: blur(0);
         opacity: 1;
      }
   }

   &.animating {
      > span {
         &.previous {
            animation-name: AnimationTextPrevious;
            animation-duration: var(--animation-duration);
         }

         &.current {
            animation-name: AnimationTextCurrent;
            animation-duration: var(--animation-duration);
         }
      }
   }
}

@keyframes AnimationTextPrevious {
   from {
      opacity: 1;
   }

   to {
      opacity: 0;
      transform: translateY(0.375rem);
      filter: blur(2px);
   }
}

@keyframes AnimationTextCurrent {
   from {
      opacity: 0;
      transform: translateY(-0.375rem);
      filter: blur(2px);
   }

   to {
      opacity: 1;
      transform: translateY(0);
      filter: blur(0);
   }
}
