#container-bottombar {
   --pill-x: 0px;
   --pill-w: 5rem;
   --pill-h: 100%;
   --pill-sx: 1;
   --pill-sy: 1;
   --pill-distance: 0;

   flex-shrink: 0;
   height: 4rem;
   position: fixed;
   bottom: 1.5rem;
   inset-inline: 1rem;
   width: calc(100% - 2.5rem);
   display: flex;
   align-items: center;
   justify-content: center;
   color: var(--glass-text-color);
   z-index: 10;

   > ul {
      display: flex;
      position: relative;
      height: 100%;
      border-radius: 10rem;
      background-color: var(--glass-bg);
      backdrop-filter: blur(0.25rem) saturate(180%);
      padding: 0.25rem;
      box-shadow:
         inset 0.125rem 0.125rem 0.0625rem 0 var(--glass-shadow),
         inset -0.0625rem -0.0625rem 0.0625rem 0.0625rem var(--glass-shadow);
      touch-action: pan-x;
      transition: all calc(0.25s * var(--motion-multiplier));
      will-change: transform;

      > li {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         width: 5.25rem;
         gap: 0.25rem;
         cursor: pointer;
         z-index: 1;
         transition: color calc(0.25s * var(--motion-multiplier));

         &.active {
            color: var(--accent);
         }

         &.hover {
            color: var(--accent) !important;
         }

         > svg {
            font-size: 1.625rem;
         }

         > span {
            font-size: 0.625rem;
            font-weight: 600;
         }
      }

      &::before {
         content: "";
         position: absolute;
         inset-inline-start: 0;
         top: 0.25rem;
         width: var(--pill-w);
         height: var(--pill-h);
         transform: translateX(var(--pill-x))
            scale(var(--pill-sx), var(--pill-sy));
         border-radius: 10rem;
         backdrop-filter: saturate(180%);
         background-color: rgba(var(--glass-text-color-rgb), 0.125);
         transition: transform calc(0.25s * var(--motion-multiplier))
            cubic-bezier(0.2, 0.8, 0.2, 1);
         will-change: transform;
         pointer-events: none;
      }

      &.dragging {
         &::before {
            transition: none;
            z-index: 2;
            background-color: rgba(var(--glass-text-color-rgb), 0.0625);
            box-shadow:
               inset 0.125rem 0.125rem 0.0625rem 0 var(--glass-shadow),
               inset -0.0625rem -0.0625rem 0.0625rem 0.0625rem
                  var(--glass-shadow);
         }

         > li {
            color: var(--glass-text-color);
         }
      }
   }

   > div#container-search {
      position: absolute;
      flex-shrink: 0;
      width: 4rem;
      height: 4rem;
      inset-inline-end: 0;
      transition: all calc(0.25s * var(--motion-multiplier));
      will-change: width, height;
      -webkit-transform: translate3d(0, 0, 0);

      > div {
         display: flex;
         border-radius: 10rem;
         flex-shrink: 0;
         background-color: var(--glass-bg);
         backdrop-filter: blur(0.25rem) saturate(180%);
         box-shadow:
            inset 0.125rem 0.125rem 0.0625rem 0 var(--glass-shadow),
            inset -0.0625rem -0.0625rem 0.0625rem 0.0625rem var(--glass-shadow);
         transition: all calc(0.25s * var(--motion-multiplier));
         overflow: hidden;
         opacity: 0;
         position: absolute;
         transform: translateX(100%);
         will-change: transform, width;
         -webkit-transform: translate3d(0, 0, 0);
         width: 100%;
         height: 100%;
         align-items: center;

         > span {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            color: var(--glass-text-color);
            transition: all calc(0.25s * var(--motion-multiplier));
            cursor: pointer;
            flex-shrink: 0;

            > span {
               display: flex;
               align-items: center;
               justify-content: center;
               width: 100%;
               height: 100%;

               > svg {
                  transform: translateX(-0.125rem);
                  font-size: 1.625rem;
               }
            }
         }

         > input {
            flex-grow: 1;
            transition: all calc(0.25s * var(--motion-multiplier));
            height: 100%;
            padding-inline-end: 0.25rem;
            opacity: 0;
            width: 0;
         }

         > button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 1.0625rem;
            height: 1.0625rem;
            padding: 0;
            flex-shrink: 0;
            border-radius: 50%;
            font-size: 0.875rem;
            margin-inline-end: 0.875rem;
            background-color: var(--glass-text-color);
            color: var(--bg-color);
            pointer-events: none;
            opacity: 0;
            transition: all calc(0.25s * var(--motion-multiplier));

            &.visible {
               opacity: 1;
               pointer-events: all;
            }
         }
      }

      > span {
         display: flex;
         border-radius: 10rem;
         flex-shrink: 0;
         background-color: var(--glass-bg);
         backdrop-filter: blur(0.25rem) saturate(180%);
         box-shadow:
            inset 0.125rem 0.125rem 0.0625rem 0 var(--glass-shadow),
            inset -0.0625rem -0.0625rem 0.0625rem 0.0625rem var(--glass-shadow);
         transition: all calc(0.25s * var(--motion-multiplier));
         overflow: hidden;
         position: absolute;
         inset-inline-end: 0;
         transform: translateX(100%);
         will-change: transform;
         width: 3rem;
         height: 3rem;
         opacity: 0;
         justify-content: center;
         align-items: center;
         font-size: 1.75rem;

         > span {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
         }
      }

      &.visible {
         > div {
            opacity: 1;
            transform: none;
            pointer-events: all;
         }
      }
   }

   &.searchable {
      > ul {
         transform: translateX(var(--pill-distance));
      }
   }

   &.search {
      > ul {
         pointer-events: none;
         transform: translateX(-100%);
         opacity: 0;
      }

      div#container-search {
         width: 100%;
         height: 3rem;

         > div {
            width: calc(100% - 3.5rem);

            > span {
               width: auto;
               padding: 0 0.875rem;
               opacity: 0.5;

               > span {
                  > svg {
                     transform: none;
                     font-size: 1.25rem;
                  }
               }
            }

            > input {
               width: 100%;
               opacity: 1;
            }
         }

         > span {
            opacity: 1;
            transform: none;
         }
      }
   }
}
