.main-button {
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   width: 100%;
   background-color: var(--btn-bg-color);
   color: var(--btn-text-color);
   font-weight: 600;
   font-size: 1rem;
   height: 3.125rem;
   border-radius: 0.6875rem;
   cursor: pointer;
   border: none;
   outline: none;
   touch-action: manipulation;
   flex-shrink: 0;
   position: relative;
   z-index: 0;
   gap: 0.25rem;

   &:not(.disabled) {
      &:focus,
      &:active {
         opacity: 0.75;
      }
   }

   &.disabled {
      cursor: not-allowed;
      pointer-events: none;
      opacity: 0.375;
   }

   > svg {
      display: none;
   }

   &.progress {
      > svg {
         display: inline;
         animation: rotate 1s linear infinite;
         font-size: 1.625rem;

         @keyframes rotate {
            0% {
               transform: rotate(0deg);
            }

            100% {
               transform: rotate(360deg);
            }
         }
      }

      > span {
         display: none;
      }
   }

   &.secondary {
      color: var(--btn-bg-color);
      background-color: transparent;

      &::before {
         position: absolute;
         inset: 0;
         content: "";
         background-color: var(--btn-bg-color);
         opacity: 0.125;
         border-radius: inherit;
         z-index: -1;
      }
   }
}
