.container-datepicker {
   display: flex;
   flex-direction: column;
   border-radius: 0.6875rem;
   padding: 0.75rem;
   background-color: var(--secondary-color);
   gap: 0.125rem;
   cursor: pointer;

   > span {
      font-size: 0.6875rem;
   }

   > div {
      font-weight: 500;
      font-size: 0.9375rem;
   }
}

.modal-datepicker {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   padding: 0 1rem;

   > span {
      display: flex;
      flex-shrink: 0;
      text-align: center;
      align-items: center;
      justify-content: center;
      padding: 1rem 0;
   }

   > div {
      flex-grow: 1;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      position: relative;
      z-index: 0;

      &::before {
         content: "";
         position: absolute;
         height: 2.75rem;
         z-index: -1;
         pointer-events: none;
         background-color: rgba(var(--text-color-rgb), 0.125);
         width: 100%;
         left: 0;
         right: 0;
         top: 50%;
         transform: translateY(-50%);
         border-radius: 0.625rem;
      }
   }

   &.hide-year {
      > div {
         grid-template-columns: repeat(2, 1fr);
      }
   }

   &.with-time {
      > div {
         grid-template-columns: repeat(5, 1fr);
      }
   }

   &.hide-year.with-time {
      > div {
         grid-template-columns: repeat(4, 1fr);
      }
   }
}

.datepicker-wheels {
   .container-wheel-picker.mask::before {
      background-color: transparent;
   }
}
