#container-gallery {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   width: 100%;
   height: auto;
   max-height: 100%;
   overflow: hidden;
   overflow-y: auto;

   > section {
      width: 100%;
      flex-shrink: 0;
   }
}

.container-gallery-slider-mini {
   > swiper-container {
      > swiper-slide {
         padding: 0 1rem;

         > div {
            display: flex;
            width: 100%;
            aspect-ratio: 6;
            border-radius: 1rem;
            overflow: hidden;
            color: white;
            background: var(--item-bg);
            align-items: center;
            padding: 0 1rem;
            cursor: pointer;

            > div {
               display: flex;
               flex-direction: column;
               flex-grow: 1;
               gap: 0.125rem;

               > span.title {
                  font-size: 1rem;
                  font-weight: 600;
               }

               > span.subtitle {
                  font-size: 0.875rem;
                  opacity: 0.75;
               }
            }

            > svg {
               font-size: 1.75rem;
               opacity: 0.75;
            }
         }
      }
   }
}

.container-gallery-slider-full {
   > swiper-container {
      > swiper-slide {
         padding: 0 1rem;

         > div {
            display: flex;
            width: 100%;
            aspect-ratio: 16/9;
            border-radius: 1rem;
            overflow: hidden;
            align-items: center;
            cursor: pointer;
         }
      }
   }
}

.container-gallery-button-list {
   display: flex;
   align-items: center;
   width: auto;
   gap: 1rem;
   padding: 0 1rem;
   overflow-x: auto;

   > div.clickable {
      flex-shrink: 0;

      > div {
         display: flex;
         align-items: center;
         padding: 0.5rem;
         border-radius: 0.5rem;
         gap: 0.375rem;
         background-color: var(--item-color);
         color: white;

         > svg {
            font-size: 1.125rem;
         }

         > span {
            font-size: 0.9375rem;
            font-weight: 500;
         }
      }
   }
}

.container-gallery-entity-list {
   display: flex;
   flex-direction: column;
   gap: 1rem;

   > header {
      display: flex;
      align-items: center;
      padding: 0 1rem;

      > h2 {
         font-size: 1.25rem;
         font-weight: 600;
      }
   }

   > swiper-container {
      > swiper-slide {
         > div.clickable {
            display: flex;
            align-items: center;
            gap: 1rem;
            overflow: hidden;

            > div.peer-profile {
               font-size: 3rem;
            }

            > div:nth-child(2) {
               display: flex;
               flex-direction: column;
               gap: 0.25rem;
               overflow: hidden;
               flex-grow: 1;

               > span.title {
                  font-size: 1rem;
                  font-weight: 500;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
               }

               > span.subtitle {
                  font-size: 0.875rem;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  color: var(--text-secondary);
               }
            }

            > ul {
               flex-shrink: 0;
               display: flex;
               flex-direction: column;
               gap: 0.25rem;
               height: 100%;

               > li {
                  display: flex;
                  justify-content: flex-end;
                  font-size: 0.875rem;
                  color: var(--text-semitransparent);
                  text-align: end;
               }
            }
         }
      }
   }
}

.container-gallery-campaign-list {
   display: flex;
   flex-direction: column;
   gap: 1rem;

   > header {
      display: flex;
      align-items: center;
      padding: 0 1rem;

      > h2 {
         font-size: 1.25rem;
         font-weight: 600;
      }
   }

   > swiper-container {
      > swiper-slide {
         > div.clickable {
            display: flex;
            align-items: center;
            gap: 1rem;
            overflow: hidden;

            > div.peer-profile {
               font-size: 3rem;
               border-radius: 25%;
            }

            > div:nth-child(2) {
               display: flex;
               flex-direction: column;
               gap: 0.25rem;
               overflow: hidden;
               flex-grow: 1;

               > span.title {
                  font-size: 1rem;
                  font-weight: 500;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
               }
            }

            > ul {
               flex-shrink: 0;
               display: flex;
               flex-direction: column;
               gap: 0.25rem;
               height: 100%;

               > li {
                  display: flex;
                  justify-content: flex-end;
                  font-size: 0.875rem;
                  color: var(--text-semitransparent);
                  text-align: end;
               }
            }
         }
      }
   }
}
