.modal-overlay {
   background-color: rgba(16, 16, 16, 0.75);
   touch-action: none;
   backdrop-filter: blur(8px);
   position: fixed;
   inset: 0;
   display: flex;
   align-items: flex-end;
}

.modal-content {
   display: flex;
   flex-direction: column;
   width: 100%;
   animation: slide-up 0.2s ease;
   border-top-right-radius: 1rem;
   border-top-left-radius: 1rem;
   background-color: var(--modal-bg) !important;
   padding-bottom: calc(
      max(
         var(--tg-viewport-safe-area-inset-bottom, 0px) +
            var(--tg-viewport-content-safe-area-inset-bottom, 0px),
         1rem
      )
   );
   position: relative;
}

.modal-handle-container {
   flex-shrink: 0;

   .modal-handle {
      width: 4rem;
      background-color: var(--text-color) !important;
      border-radius: 1rem;
      height: 0.25rem;
      opacity: 0.25;
      text-align: center;
      margin: auto;
   }
}

[class*="modal-"][class*="-overflow-hidden"] {
   overflow: hidden;
}

.modal-content.modal-is-closing {
   animation: slide-down 0.2s ease;
}

.modal-handle-container {
   padding: 1rem 0;
   margin: 0;
}

@keyframes slide-up {
   from {
      transform: translateY(100%);
   }
}

@keyframes slide-down {
   to {
      transform: translateY(100%);
   }
}

.modal-close {
   position: absolute;
   width: 1.875rem;
   height: 1.875rem;
   top: 1rem;
   inset-inline-end: 1rem;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   background-color: var(--section-bg-color);
   color: rgba(var(--text-color-rgb), 0.5);
   font-size: 1.25rem;
}

.modal-title {
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   justify-content: center;
   width: 100%;
   pointer-events: none;
   position: absolute;
   top: 1rem;
   inset-inline-start: 0;
   inset-inline-end: 0;
   height: 1.875rem;
   font-size: 1.125rem;
   font-weight: 600;
}

.modal.withCloseButton,
.modal.withTitle {
   .modal-handle-container {
      padding: 0;
      height: 2.875rem;

      .modal-handle {
         display: none;
      }
   }
}

.modal.fullheight {
   .modal-content {
      height: calc(
         100% -
            2rem - calc(
               var(--tg-viewport-safe-area-inset-top, 0px) +
                  var(--tg-viewport-content-safe-area-inset-top, 0px)
            )
      );
   }
}

.modal.fullscreen {
   .modal-close {
      display: none;
   }

   .modal-title {
      display: none;
   }

   .modal-handle-container {
      display: none;
   }

   .modal-content {
      border-radius: 0;
   }

   > div {
      > div {
         height: 100%;
         padding-top: calc(
            var(--tg-viewport-safe-area-inset-top, 0px) +
               var(--tg-viewport-content-safe-area-inset-top, 0px)
         );

         > div:last-child {
            height: 100%;
         }
      }
   }
}
