.modal-overlay {
   background-color: rgba(16, 16, 16, 0.75);
   touch-action: none;
   backdrop-filter: blur(8px);
   position: fixed;
   inset: 0;
   display: flex;
   align-items: flex-end;
}

.modal-content {
   width: 100%;
   animation: slide-up 0.2s ease;
   border-top-right-radius: 1rem;
   border-top-left-radius: 1rem;
   background-color: var(--modal-bg) !important;
   padding-bottom: calc(
      max(
         var(--tg-viewport-safe-area-inset-bottom) +
            var(--tg-viewport-content-safe-area-inset-bottom),
         1rem
      )
   );
}

.modal-handle-container {
   .modal-handle {
      width: 4rem;
      background-color: var(--text-color) !important;
      border-radius: 1rem;
      height: 0.25rem;
      opacity: 0.25;
      text-align: center;
      margin: auto;
   }
}

[class*="modal-"][class*="-overflow-hidden"] {
   overflow: hidden;
}

.modal-content.modal-is-closing {
   animation: slide-down 0.2s ease;
}

.modal-handle-container {
   padding: 1rem 0;
   margin: 0 auto;
}

@keyframes slide-up {
   from {
      transform: translateY(100%);
   }
}

@keyframes slide-down {
   to {
      transform: translateY(100%);
   }
}
