.container-placeholder {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 0.75rem;
   text-align: center;

   > div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 6.75rem;
      height: 6.75rem;
      margin-bottom: 1rem;

      > svg {
         font-size: 5.5rem;
         color: var(--accent);
         opacity: 0.75;
      }

      > div.lottie-animation {
         width: 100%;
         height: 100%;
      }
   }

   > span {
      line-height: normal;
      font-size: 1.0625rem;
      font-weight: 600;
   }

   > p {
      line-height: normal;
      color: var(--text-semitransparent);
      font-size: 0.9375rem;
   }

   > footer {
      line-height: normal;
      color: var(--accent);
   }
}
