.range-slider {
   display: flex;
   flex-direction: column;
   direction: ltr;
   gap: 0.25rem;

   input[type="range"] {
      display: block;
      width: 100%;
      direction: ltr;
      -webkit-appearance: none;
      background-color: transparent;
      outline: none;
      cursor: pointer;
      height: 0.375rem;
      position: relative;
      z-index: 1;
      margin: 0.75rem 0;

      &::-webkit-slider-thumb {
         -webkit-appearance: none;
         appearance: none;
         width: 2.25rem;
         height: 1.5rem;
         border-radius: 1rem;
         background: white;
         box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.125);
         cursor: pointer;
         outline: none;
         border: none;
      }
   }

   > ul {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      position: relative;
      z-index: 0;
      padding: 0 0.5rem;

      &::before {
         background: var(--range-slider-bg-color);
         top: -1.25rem;
         bottom: 0;
         inset-inline-start: 0.5rem;
         height: 0.375rem;
         content: "";
         width: calc(100% - 1rem);
         position: absolute;
         z-index: -2;
      }

      &::after {
         background: var(--accent);
         top: -1.25rem;
         bottom: 0;
         inset-inline-start: 0.5rem;
         height: 0.25rem;
         content: "";
         width: calc(var(--filled) - 1rem);
         position: absolute;
         z-index: -1;
      }

      > li {
         color: var(--text-secondary);
         position: relative;
         z-index: 0;
         padding: 0.25rem 0.25rem 0.5rem;
         cursor: pointer;
         font-size: 0.875rem;
         width: 1rem;
         overflow: visible;

         &:first-child {
            &::before {
               inset-inline-start: 0;
               transform: none;
            }
         }

         &:last-child {
            &::before {
               inset-inline-start: unset;
               inset-inline-end: 0;
               transform: none;
            }
         }

         &::before {
            height: 1rem;
            width: 0.375rem;
            background: var(--range-slider-bg-color);
            content: "";
            position: absolute;
            top: -1.5625rem;
            border-radius: 0.25rem;
            inset-inline-start: 50%;
            transform: translateX(-50%);
            z-index: -1;
         }

         &.passed {
            &::before {
               background: var(--accent);
            }
         }
      }
   }
}
