.section {
   display: flex;
   flex-direction: column;
   flex-shrink: 0;
   gap: 0.625rem;
   position: relative;
   z-index: 0;

   > span {
      text-indent: 1rem;
      line-height: normal;
      font-size: 0.75rem;

      &.title {
         font-weight: 600;
         text-transform: uppercase;
         color: var(--text-secondary);

         &.withSubtitle {
            display: flex;
            align-items: center;
            width: 100%;

            > span {
               font-weight: normal;
               text-indent: 0;
               flex-grow: 1;
               text-align: end;
               padding-inline-end: 1rem;
               color: var(--text-semitransparent);
            }
         }
      }

      &.description {
         color: var(--text-semitransparent);
      }
   }

   > div {
      background-color: var(--section-bg-color);
      border-radius: 0.75rem;
      padding: 1rem;
   }

   &.section-tint {
      > div {
         background-color: var(--bg-color);
      }
   }

   &.section-glass {
      --indent: 0.25rem;

      background-color: var(--glass-bg);
      backdrop-filter: blur(0.25rem) saturate(180%);
      box-shadow:
         inset 0.125rem 0.125rem 0.0625rem 0 var(--glass-shadow),
         inset -0.0625rem -0.0625rem 0.0625rem 0.0625rem var(--glass-shadow);
      border-radius: calc(0.75rem + var(--indent));
      gap: 0;

      &::before {
         content: "";
         position: absolute;
         inset: var(--indent);
         background-color: var(--section-bg-color);
         border-radius: 0.75rem;
         z-index: -1;
         opacity: 0.5;
      }

      > span {
         text-indent: calc(1rem + var(--indent));

         &.title {
            font-size: 1rem;
            text-transform: none;
            color: var(--text-color);
            padding-top: calc(1rem + var(--indent));
         }

         &.description {
            padding-bottom: calc(0.75rem + var(--indent));
         }
      }

      > div {
         border-radius: 0;
         background-color: transparent;
         margin: 0 var(--indent);
      }
   }
}
